<div class="container__big-card">
  <div class="big-card_photo">
    <img
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrNu3n3yXwM8Y7kbTuTCPS6g8mf4eAlniV6g&usqp=CAU"
    alt=""
    height="200px"
    srcset=""
    >
  </div>
  <div class="big-card_title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card_description">
    <p>
      <a href="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac erat metus. Curabitur porta at tellus non porttitor. Fusce auctor urna massa, sit amet imperdiet tortor consequat imperdiet. Cras quis laoreet justo, at cursus dui. Sed at blandit est. Aenean commodo nunc justo, non rhoncus metus sagitti
      </a>
    </p>
  </div>
</div>
